# Virtual Host configuration for taming-the-beast
#
server {
	listen 80;
	listen [::]:80;

	server_name taming-the-beast.org;

	root /ttb/site/;
	index index.html;

	location / {
		try_files $uri $uri/ =404;
	}
}
